// 背景
$cr-bg: rgba(255, 255, 255, 0.83);

// テキスト色
$cr-txt: #707070;

// ボタンカラー
$btn-background-color: #00BBDD;

// フォントスタイル
$ff-noto: 'Noto Serif Gujarati',sans-serif;
$fz-base: 1.6rem;
$ff-base: $ff-noto;
$fw-base: 500;
$lh-base: 1.6;
$cr-txt: #5D310C;

// レイアウト幅
$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  "pc": "(min-width: #{$layout-width-inner})"
);

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)}  {
    @content;
  }
}
