//--------------------------------------------------------
// ※Block要素にレイアウトに関わるスタイリングをする場合は下記を参照。
//--------------------------------------------------------
// 例１)
// 親要素を利用した子(孫)セレクターとしてスタイリングする。
// <div class="bl_3colCardUnit">
//   <div class="bl_card"></div>
//   <div class="bl_card"></div>
//   <div class="bl_card"></div>
// </div>
//              ↓
// .bl_3colCardUnit > .bl_card{
//   width:300px;
//   margin:0 20px;
// }
//
//
// 例２)
// 親要素のElementとしてクラスを付与。
// <div class="bl_3colCardUnit">
//   <div class="bl_3colCardUnit_item bl_card"></div>
//   <div class="bl_3colCardUnit_item bl_card"></div>
//   <div class="bl_3colCardUnit_item bl_card"></div>
// </div>
//              ↓
// .bl_3colcardUnit_item{
//   width: 300px;
//   margin: 0 20px;
// }
//--------------------------------------------------------


// --------------------------------
//             ヘッダー
// --------------------------------
.ly_header_inner{
  max-width: $layout-width-inner;
  margin: 0 auto;
}

// --------------------------------
//          ナビゲーション
// --------------------------------
// .bl_header_nav{

// }
// .bl_header_list{

// }

// --------------------------------
//          ドロワーボタン
// --------------------------------
.el_drawer_btn{
  width: 40px;
  height: 30px;
  display: block;
  position: relative;
  z-index:	map-get($layer,"drawer");
  @include	mq('pc'){
    display: none;
  }
}
.el_drawer_btn > .el_drawer_line{
  width: 100%;
  height: 2px;
  display: block;
  background-color: currentColor;
  transition: all .4s;
  @include cc();
  &::before, &::after{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    background-color: currentColor;
    transition: all .4s;
  }
  &::before{
    top: -9px;
  }
  &::after{
    top: 9px;
  }
}
// スクリーンリーダー用テキスト
.el_visuallyHidden{
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
