.footer{
  height: 80px;
  background-color: $color-footer;
  text-align: center;
  @include mq('sp'){
    position: relative;
  }
}
.copy{
  font-size: 1.2rem;
  color: $color-bright;
  line-height: 80px;
  @include mq('sp'){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    line-height: 1.5;
  }
}
