.header{
  width: 100vw;
  height: 90px;
  background-image: url(../images/bgi-header.jpg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  @include mq('sp'){
    height: 70px;
  }
  &-inner{
    width: 90%;
    margin: 0 auto;
    @include mq('tab'){
      padding: 32px 15px 0 0;
    }
    @include mq('sp'){
      width: 100%;
      padding: 22px 4vw 0 0;
    }
  }

  //ヘッダーメニュー
  .header-nav{
    max-width: 664px;
    margin: auto;
    text-align: center;
    @include mq('tab'){
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 30;
      transform: translateX(-100%);
    }
    @include mq('sp'){
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 30;
      transform: translateX(-100%);
    }
    .header-list{
      height: 90px;
      display: flex;
      justify-content: center;
      @include mq('tab'){
        flex-direction: column;
        @include cc;
      }
      @include mq('sp'){
        flex-direction: column;
        @include cc;
      }
      li{
        margin: auto 15px;
        text-align: center;
        font-weight: $fw-w6;
        @include mq('tab'){
          vertical-align: bottom;
          color: $color-bright;
          align-items: center;
          text-align: left;
          margin-bottom: 32px;
        }
        @include mq('sp'){
          vertical-align: bottom;
          color: $color-bright;
          align-items: center;
          text-align: left;
          margin-bottom: 20px;
        }
        a{
          display: block;
          font-size: 12px;
          @include mq('tab'){
            font-size: 1.8rem;
          }
          @include mq('sp'){
            font-size: 1.6rem;
          }
          &::after{
            display: block;
            text-transform: uppercase;
            font-size: 2.2rem;
            @include mq('tab'){
              display: none;
            }
            @include mq('sp'){
              display: none;
            }
          }
        }
        &:nth-of-type(1){
          a{
            &::after{
              content: "top";
            }
          }
        }
        &:nth-of-type(2){
          a{
            &::after{
              content: "news";
            }
          }
        }
        &:nth-of-type(3){
          a{
            &::after{
              content: "story";
            }
          }
        }
        &:nth-of-type(4){
          a{
            &::after{
              content: "comments";
            }
          }
        }
        &:nth-of-type(5){
          a{
            &::after{
              content: "cast";
            }
          }
        }
        &:nth-of-type(6){
          a{
            &::after{
              content: "inquiry";
            }
          }
        }
        &:nth-of-type(7){
          a{
            &::after{
              content: "reserve";
            }
          }
        }
      }
    }
  }
}
