// --------------------------------
//           共通スタイル
// --------------------------------
.section{
  padding: 30px 0;
}

// 見出し
.section-head{
  font-family: $ff-futura;
  font-weight: $fw-w6;
  font-size: 43px;
  line-height: division(66, 43);
  text-align: center;
  @include mq('sp'){
    font-size: 32px;
  }
}

// パンくずリスト
.breadcrumbs{
  max-width: $layout-width-inner;
  font-size: 12px;
  font-weight: $fw-w6;
  line-height: division(21, 12);
  margin: 31px auto 0 auto;
  display: flex;
  @include mq('tab'){
    padding-left: 2vw;
  }
  @include mq('sp'){
    padding-left: 4vw;
  }
  a{
    display: block;
  }
  .fa-chevron-right{
    padding: 0 8px;
    position: relative;
    &::before{
      position: absolute;
      top: 5px;
      left: 50%;
      transform: translateX(-50%);
    }
    @include mq('sp'){
      top: 2px;
    }
  }
}

// 記事の日時
.article-time{
  font-size: 12px;
  line-height: division(21, 12);
}

// スケジュールセクション
  .section:last-of-type{
    padding: 60px 0;
    .section-content{
      background-color: rgba(255,255,255,.25);
      padding-top: 30px;
      padding-bottom: 55.5px;
      margin-bottom: 30px;
    }
    .section-head{
      margin-bottom: 25.5px;
    }
    .schedule-item{
      display: flex;
      justify-content: center;
      font-size: 20px;
      font-weight: $fw-w6;
      &:not(:last-of-type){
        margin-bottom: 25px;
      }
      @include mq('sp'){
        flex-wrap: wrap;
      }
    }
    .schedule-time{
      font-size: 20px;
      margin-right: 13px;
    }
    .start-time{
      margin-right: 30px;
      @include mq('sp'){
        margin-right: 0;
      }
    }
    .place{
      margin-right: 30px;
    }
    .ticket-link{
      display: block;
      border-bottom: 1px solid $txtd;
      @include mq('sp'){
        margin-right: 30px;
      }
    }
    .buttons{
      display: flex;
      justify-content: center;
      @include mq('sp'){
        flex-direction: column;
        align-items: center;
      }
    }
  }

// --------------------------------
//        jsで変更される箇所
// --------------------------------
// フェードイン
[data-fadeIn]{
  opacity: 0;
  transition: all .8s;
  transform: translateY(150px);
}
[data-fadeIn].is-over{
  opacity: 1;
  transform: translateY(0);
}


// --------------------------------
//      トップページのスタイル
// --------------------------------
.top-page{
  // ファーストビュー
  .fv{
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center center;
    height: 520px;
    position: relative;
    @include mq('sp'){
      height: 580px;
    }
    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,.3);
      width: 100%;
      height: 100%;
    }
    .fv-content{
      @include cc;
      @include mq('tab'){
        width: 80%;
      }
      @include mq('sp'){
        width: 100%;
        padding: 4vw;
      }
    }
    .site-title{
      width: 920px;
      margin-bottom: 89px;
      @include mq('tab'){
        width: 100%;
        margin-bottom: vw($layout-width-inner, 89px);
      }
      @include mq('sp'){
        width: 100%;
        margin-bottom: 49px;
      }
    }
    .fv-contents{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @include mq('tab'){
        align-items: flex-start;
        .schedule img{
          width: 90%;
        }
      }
      @include mq('sp'){
        flex-direction: column;
        .schedule {
          text-align-last: left;
          padding-bottom: 4vw;
          img{
            width: 65%;
          }
        }
      }
    }
    .announcement{
      max-width: 340px;
      font-size: 14px;
      text-align: justify;
      line-height: division(22, 14);
      color: $txtw;
      @include mq('tab'){
        max-width: vw($layout-width-inner, 340px);
      }
      @include mq('sp'){
        max-width: 100%;
      }
      .announcement-title{
        font-weight: $fw-w6;
      }
    }
  }

  // INTRODUCTIONセクション
  .section:first-of-type{
    padding-top: 60px;
    .section-content{
      background-color: rgba(255,255,255,0.3);
      padding: 19px 20px 30px 30px;
      background-image: url(../images/triangle.png);
      background-position: 0 0;
      background-repeat: no-repeat;
      @include mq('tab'){
        max-width: 90%;
        margin: 0 auto;
        padding-right: 29px;
      }
      @include mq('sp'){
        padding: 5vw 4vw;
        background-image: none;
      }
    }
    .asc{
      text-align: center;
      margin-bottom: 19px;
      font-size: 34px;
      font-weight: $fw-w6;
      @include mq('tab'){
        text-align: right;
      }
      @include mq('sp'){
        font-size: 20px;
        text-align: justify;
      }
    }
    .synopsis{
      display: flex;
      justify-content: space-between;
      @include mq('tab'){
        flex-direction: column;
        align-items: center;
      }
      @include mq('sp'){
        flex-direction: column;
        align-items: center;
      }
    }
    .synopsis-text{
      font-size: 12px;
      line-height: division(21, 12);
      @include mq('tab'){
        &:first-of-type{
          padding-bottom: 15px;
        }
        br{
          display: none;
        }
      }
      @include mq('sp'){
        &:first-of-type{
          padding-bottom: 15px;
        }
        br{
          display: none;
        }
      }
    }
  }

  // NEWSセクション
  .section:nth-of-type(2){
    .section-content{
      position: relative;
    }
    .section-head{
      padding-bottom: 29px;
    }
    .section-contents{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include mq('tab'){
        max-width: 90%;
        margin: 0 auto;
      }
      @include mq('sp'){
        padding: 0 4vw;
        justify-content: center;
      }
    }
    .contents-item{
      display: block;
      background-color: $bgc;
      max-width: 250px;
      height: 260px;
      @include mq('tab'){
        max-width: 200px;
      }
      @include mq('sp'){
        margin-bottom: 5vw;
        height: 240px;
      }
      &:nth-of-type(2){
        @include mq('pc'){
          margin-left: 15px;
          margin-right: 15px;
        }
      }
      &:nth-of-type(4), &:last-of-type{
        display: flex;
        max-width: 390px;
        height: 88px;
        margin-top: 30px;
        @include mq('tab'){
          max-width: 315px;
          margin-top: 20px;
        }
        @include mq('sp'){
          flex-direction: column;
          max-width: 250px;
          height: 240px;
          margin-top: 0;
        }
        .news-img img{
          width: 156px;
          height: 88px;
          @include mq('sp'){
            width: 250px;
            height: 140px;
            object-fit: cover;
          }
        }
      }
      .news-img img{
        width: 250px;
        height: 140px;
        object-fit: cover;
      }
      .news-text{
        margin: 14px;
        line-height: 1;
        font-weight: $fw-w6;
      }
    }
  }

  // STORYセクション
  .section:nth-of-type(3){
    background-image: url(../images/story-bgi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    height: 420px;
    color: $txtw;
    margin: 30px 0;
    @include mq('tab'){
      background-position: -140px 0px;
    }
    @include mq('sp'){
      height: auto;
    }
    .section-contents{
      @include mq('tab'){
        padding: 0 2vw;
      }
    }
    .story{
      width: 39.5%;
      margin-left: auto;
      font-size: 12px;
      line-height: division(21, 12);
      @include mq('tab'){
        width: 50%;
        padding-bottom: 2vw;
      }
      @include mq('sp'){
        width: 100%;
        background: rgba(0,0,0,0.5);
        padding: 2vw 4vw;
        margin-bottom: 4vw;
      }
    }
  }

  // COMMENTSセクション
  .section:nth-of-type(4){
    .section-head{
      padding-bottom: 33px;
    }
    .comment-read{
      margin-bottom: 33px;
      text-align: center;
      font-size: 24px;
      font-weight: $fw-w6;
      line-height: 1;
      @include mq('sp'){
        padding-left: 4vw;
        padding-right: 4vw;
        line-height: $lh-base;
        font-size: 20px;
        text-align: justify;
      }
    }
    .section-contents{
      background-image: url(../images/director.jpg);
      background-repeat: no-repeat;
      background-position: 0 -60px;
      color: $txtw;
      padding: 44px 30px 43px 30px;
      position: relative;
      @include mq('sp'){
        background-position: 0 0;
        background-size: cover;
        height: 340px;
        padding: 4vw;
      }
    }
    .director{
      font-size: 20px;
      font-weight: $fw-w6;
      line-height: division(42.87, 20);
      br{
        display: none;
        @include mq('sp'){
          display: block;
        }
      }
    }
    .director-name{
      font-size: 26px;
      line-height: division(42.87, 26);
    }
    .director-message{
      font-size: 14px;
      line-height: division(22, 14);
      @include mq('sp'){
        width: 100%;
        background: rgba(0,0,0,0.5);
        padding: 2vw 4vw;
        margin: 4vw 0;
        br:nth-of-type(2),:last-of-type{
          display: none;
        }
      }
    }
    .more-btn{
      position: absolute;
      bottom: 15px;
      right: 15px;
      @include mq('sp'){
        position: static;
      }
    }
  }

  // キャストセクション
  .section:nth-of-type(5){
    position: relative;
    @include mq('sp'){
      margin-top: 30px;
    }
    &::after{
      content: "";
      display: block;
      background-color: $bgc;
      width: 100%;
      height: 670px;
      position: absolute;
      top: 26%;
      left: 0;
      z-index: -10;
      @include mq('tab'){
        height: 700px;
      }
      @include mq('sp'){
        top: 0;
        height: 2240px;
      }
    }
    .section-content{
      @include mq('tab'){
        padding: 15px;
      }
    }
    .section-head{
      padding-bottom: 24px;
    }
    .section-contents{
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 20px;
      @include mq('sp'){
        flex-direction: column;
        align-items: center;
      }
    }
    .cast-item{
      max-width: 250px;
      @include mq('tab'){
        max-width: 220px;
      }
      @include mq('sp'){
      &:not(:last-of-type){
          margin-bottom: 48px;
        }
      }
      &:first-of-type .cast-name{
        margin-bottom: 45px;
        @include mq('sp'){
          margin-bottom: 26px;
        }
      }
      .cast-img{
        margin-bottom: 39px;
        @include mq('sp'){
          margin-bottom: 20px;
        }
        img{
          width: 220px;
          height: 220px;
          border-radius: 50%;
        }
      }
      .cast-role{
        line-height: division(30, 16);
      }
      .cast-name{
        font-weight: $fw-w6;
        line-height: division(30, 18);
      }
      .profession{
        font-size: 12px;
        line-height: division(30, 12);
        padding-bottom: 15px;
      }
      .cast-career{
        text-align: justify;
        font-size: 12px;
        line-height: division(21, 12);
      }
    }
  }

}


// --------------------------------
//   ニュース一覧ページのスタイル
// --------------------------------
.archive{
  // ファーストビュー
  .fv{
    background-image: url(../images/hero-underlayer.jpg);
    background-size: cover;
    background-position: center center;
    height: 180px;
    position: relative;
    .fv-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      @include mq('tab'){
        width: 80%;
      }
      @include mq('sp'){
        width: 100%;
        padding: 4vw;
        flex-direction: column;
      }
      .site-title{
        width: 460px;
        margin-right: 50px;
        @include mq('tab'){
          width: vw(810, 460);
          margin-right: vw(810, 50);
        }
        @include mq('sp'){
          width: 270px;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .schedule{
        width: 250px;
        margin-left: 50px;
        @include mq('tab'){
          width: vw(810, 250);
          margin-left: vw(810, 50);
        }
        @include mq('sp'){
          width: 165px;
          margin-left: 0;
        }
      }
    }
  }

  // パンくずリスト
  .breadcrumbs{
    .fa-chevron-right:first-of-type{
      display: none;
    }
  }

  // ニュース記事一覧セクション
  .section:first-of-type{
    .section-head{
      padding-bottom: 29px;
    }
    .section-contents{
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
      justify-content: center;
      margin-bottom: 30px;
    }
    .content-item{
      display: block;
      background-color: $bgc;
      max-width: 250px;
      height: 260px;
      .news-img img{
        width: 250px;
        height: 140px;
        object-fit: cover;
      }
      .news-text{
        margin: 14px;
        line-height: 1;
        font-weight: $fw-w6;
      }
    }
    // 前後記事ページネーション
    .pagenation{
      display: flex;
      justify-content: center;
    }
    .page-numbers{
      display: block;
      width: 27px;
      height: 27px;
      text-align: center;
      border: 2px solid $bgc-d;
      margin-right: 9px;
    }
    .fa-chevron-left{
      position: relative;
      &::before{
        display: block;
        position: absolute;
        top: -13px;
        left: -4px;
      }
    }
    .fa-chevron-right{
      position: relative;
      &::before{
        display: block;
        position: absolute;
        top: -13px;
        left: -4px;
      }
    }
    .current{
      color: $txty;
      background-color: $bgc-d;
    }
  }

}


// --------------------------------
//          個別投稿ページ
// --------------------------------
.single{
  // ファーストビュー
  .fv{
    background-image: url(../images/hero-underlayer.jpg);
    background-size: cover;
    background-position: center center;
    height: 180px;
    position: relative;
    .fv-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      @include mq('tab'){
        width: 80%;
      }
      @include mq('sp'){
        width: 100%;
        padding: 4vw;
        flex-direction: column;
      }
      .site-title{
        width: 460px;
        margin-right: 50px;
        @include mq('tab'){
          width: vw(810, 460);
          margin-right: vw(810, 50);
        }
        @include mq('sp'){
          width: 270px;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .schedule{
        width: 250px;
        margin-left: 50px;
        @include mq('tab'){
          width: vw(810, 250);
          margin-left: vw(810, 50);
        }
        @include mq('sp'){
          width: 165px;
          margin-left: 0;
        }
      }
    }
  }

  // パンくずリスト
  .breadcrumbs{
    @include mq('sp'){
      flex-direction: column;
      line-height: 2;
      .fa-chevron-right::before{
        transform: rotate(90deg);
        top: -7px !important;
        left: 10px;
      }
    }
    .fa-chevron-right:first-of-type{
      display: none;
    }
  }

  // 記事内容セクション
  .section:first-of-type{
    .section-head{
      margin-bottom: 28px;
    }
    .thumbnail{
      max-width: 810px;
      img{
        object-fit: cover;
      }
    }
    .title-wrap{
      background-color: $bgc-d;
      color: $txtw;
      height: 76px;
      padding: 0 30px;
      @include mq('sp'){
        height: auto;
      }
      .article-title{
        font-size: 26px;
        font-weight: $fw-w6;
        @include mq('sp'){
          font-size: 20px;
        }
      }
    }
    .article-text{
      background-color: $bgc;
      padding: 30px 30px 25px 30px;
      text-align: justify;
      strong{
        font-size: 22px;
        font-weight: $fw-w6;
        line-height: division(26, 22);
        @include mq('sp'){
          font-size: 18px;
        }
      }
      h4{
        font-size: 18px;
        font-weight: $fw-w6;
        line-height: division(26, 18);
      }
      p{
        line-height: division(26, 16);
      }
    }

    // 前後記事ページネーション
    .pagenation-single{
      margin-top: 30px;
      .nav-links{
        position: relative;
      }
    }
    .nav-previous, .nav-next{
      white-space: pre-wrap;
      font-size: 14px;
      font-weight: $fw-w6;
      line-height: division(21, 14);
      position: absolute;
      top: 0;
    }
    .nav-previous{
      left: 3%;
      @include mq('sp'){
        width: 40vw;
        left: 5%;
      }
      a{
        position: relative;
        display: block;
        max-width: 280px;
        .article-time{
          position: absolute;
          top: -25px;
          left: 3%;
          font-weight: $fw-base;
        }
      }
      .fa-chevron-circle-left{
        position: absolute;
        top: -10px;
        left: -25px;
        @include mq('sp'){
          left: -29px;
        }
      }
    }
    .nav-next{
      right: 4%;
      @include mq('sp'){
        width: 40vw;
        right: 5%;
      }
      a{
        position: relative;
        display: block;
        max-width: 280px;
        text-align: right;
        .article-time{
          position: absolute;
          top: -25px;
          right: 3%;
          font-weight: $fw-base;
        }
      }
      .fa-chevron-circle-right{
        position: absolute;
        top: -10px;
        right: -32px;
        @include mq('sp'){
          right: -29px;
        }
      }
    }
    // スクリーンリーダー非表示
    .screen-reader-text {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }
  }

}


// --------------------------------
//        ストーリーページ
// --------------------------------
.story{
  // ファーストビュー
  .l-section{
    background-image: url(../images/story-bgi.jpg);
    background-size: cover;
    background-position: 10% center;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    z-index: 10;
    &::after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: rgba(0,0,0,.4);
      z-index: -10;
    }
    .breadcrumbs{
      position: absolute;
      top: 215px;
      left: 165px;
      color: $txtw;
      @include mq('tab'){
        top: vw(810, 215);
        left: 2vw;
      }
      @include mq('sp'){
        left: 0;
      }
    }
    .fv-section{
      position: absolute;
      top: 255px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
    }
    .section-content{
      color: $txtw;
      padding: 0;
    }
    .section-head{
      margin-bottom: 15px;
    }
    .section-contents{
      position: relative;
    }
    .contents-text{
      position: absolute;
      top: 0;
      right: -350px;
      max-width: 390px;
      font-size: 12px;
      line-height: division(22, 12);
      @include mq('tab'){
        position: static;
      }
      @include mq('sp'){
        position: static;
        min-width: 290px;
      }
    }
    .fv-content{
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      @include mq('tab'){
        width: 80%;
      }
      @include mq('sp'){
        width: 100%;
        padding: 4vw;
        flex-direction: column;
      }
      .site-title{
        width: 460px;
        margin-right: 50px;
        @include mq('tab'){
          width: vw(810, 460);
          margin-right: vw(810, 50);
        }
        @include mq('sp'){
          width: 270px;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .schedule{
        width: 250px;
        margin-left: 50px;
        @include mq('tab'){
          width: vw(810, 250);
          margin-left: vw(810, 50);
        }
        @include mq('sp'){
          width: 165px;
          margin-left: 0;
        }
      }
    }
  }

  // セクション１
  .section:first-of-type{
    background-color: #000;
    min-height: 325px;
    position: relative;
    &::after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: rgba(0,0,0,.4);
    }
    .section-content{
      color: $txtw;
    }
    .section-contents{
      @include mq('sp'){
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .contents-text{
      max-width: 390px;
      font-size: 12px;
      line-height: division(21, 12);
      position: absolute;
      top: 50%;
      left: 27%;
      transform: translateY(-50%);
      z-index: 10;
      @include mq('sp'){
        position: static;
        padding: 4vw;
        transform: none;
      }
    }
    .contents-img {
      position: absolute;
      top: 0;
      right: 0;
      height: 325px;
      @include mq('sp'){
        position: static;
        height: auto;
      }
    }
  }

  // セクション２
  .section:nth-of-type(2){
    background-color: #000;
    min-height: 325px;
    position: relative;
    &::after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: rgba(0,0,0,.4);
    }
    .section-content{
      color: $txtw;
    }
    .section-contents{
      @include mq('sp'){
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .contents-text{
      max-width: 390px;
      font-size: 12px;
      line-height: division(21, 12);
      position: absolute;
      top: 50%;
      right: 8%;
      transform: translateY(-50%);
      z-index: 10;
      @include mq('tab'){
        left: 27%;
      }
      @include mq('sp'){
        position: static;
        padding: 4vw;
        transform: none;
      }
    }
    .contents-img {
      position: absolute;
      top: 50%;
      left: 8%;
      transform: translateY(-50%);
      height: 325px;
      @include mq('sp'){
        position: static;
        height: auto;
        transform: none;
      }
    }
  }

  // セクション３
  .section:nth-of-type(3){
    background-color: #000;
    min-height: 325px;
    position: relative;
    &::after{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-color: rgba(0,0,0,.4);
    }
    .section-content{
      color: $txtw;
    }
    .section-contents{
      @include mq('sp'){
        display: flex;
        flex-direction: column-reverse;
      }
    }
    .contents-text{
      max-width: 390px;
      font-size: 12px;
      line-height: division(21, 12);
      position: absolute;
      top: 50%;
      left: 27%;
      transform: translateY(-50%);
      z-index: 10;
      @include mq('sp'){
        position: static;
        padding: 4vw;
        transform: none;
      }
    }
    .contents-img {
      position: absolute;
      top: 0;
      right: 0;
      height: 325px;
      @include mq('sp'){
        position: static;
        height: auto;
      }
    }
  }

}


// --------------------------------
//          コメントページ
// --------------------------------
.comments{
  // ファーストビュー
  .fv{
    background-image: url(../images/hero-underlayer.jpg);
    background-size: cover;
    background-position: center center;
    height: 180px;
    position: relative;
    .fv-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      @include mq('tab'){
        width: 80%;
      }
      @include mq('sp'){
        width: 100%;
        padding: 4vw;
        flex-direction: column;
      }
      .site-title{
        width: 460px;
        margin-right: 50px;
        @include mq('tab'){
          width: vw(810, 460);
          margin-right: vw(810, 50);
        }
        @include mq('sp'){
          width: 270px;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .schedule{
        width: 250px;
        margin-left: 50px;
        @include mq('tab'){
          width: vw(810, 250);
          margin-left: vw(810, 50);
        }
        @include mq('sp'){
          width: 165px;
          margin-left: 0;
        }
      }
    }
  }

  // ディレクターセクション
  .section:first-of-type{
    .section-head{
      padding-bottom: 33px;
    }
    .comment-read{
      margin-bottom: 33px;
      text-align: center;
      font-size: 24px;
      font-weight: $fw-w6;
      line-height: 1;
      @include mq('sp'){
        padding-left: 4vw;
        padding-right: 4vw;
        line-height: $lh-base;
        font-size: 20px;
        text-align: justify;
      }
    }
    .section-contents{
      background-image: url(../images/director.jpg);
      background-repeat: no-repeat;
      background-position: 0 -60px;
      color: $txtw;
      padding: 44px 30px 43px 30px;
      position: relative;
      @include mq('sp'){
        background-position: 0 0;
        background-size: cover;
        height: 340px;
        padding: 4vw;
      }
    }
    .director{
      font-size: 20px;
      font-weight: $fw-w6;
      line-height: division(42.87, 20);
      br{
        display: none;
        @include mq('sp'){
          display: block;
        }
      }
    }
    .director-name{
      font-size: 26px;
      line-height: division(42.87, 26);
    }
    .director-message{
      font-size: 14px;
      line-height: division(22, 14);
      @include mq('sp'){
        width: 100%;
        background: rgba(0,0,0,0.5);
        padding: 2vw 4vw;
        margin: 4vw 0;
        br:nth-of-type(2),:last-of-type{
          display: none;
        }
      }
    }
  }

  // コメント一覧セクション
  .section:nth-of-type(2){
    padding-bottom: 0;
    .section-contents{
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
      justify-content: center;
      margin-bottom: 30px;
    }
    .comment-item{
      height: 241px;
      .comment-item-name{
        font-size: 22px;
        font-weight: $fw-w6;
        line-height: 1;
        margin-bottom: 10px;
        text-align: center;
      }
      .profession{
        font-size: 12px;
        line-height: 1;
        margin-bottom: 14.4px;
        text-align: center;
      }
      .comment-message{
        line-height: division(26, 16);
      }
    }
  }

}


// --------------------------------
//          キャストページ
// --------------------------------
.cast{
  // ファーストビュー
  .fv{
    background-image: url(../images/hero-underlayer.jpg);
    background-size: cover;
    background-position: center center;
    height: 180px;
    position: relative;
    .fv-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      @include mq('tab'){
        width: 80%;
      }
      @include mq('sp'){
        width: 100%;
        padding: 4vw;
        flex-direction: column;
      }
      .site-title{
        width: 460px;
        margin-right: 50px;
        @include mq('tab'){
          width: vw(810, 460);
          margin-right: vw(810, 50);
        }
        @include mq('sp'){
          width: 270px;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .schedule{
        width: 250px;
        margin-left: 50px;
        @include mq('tab'){
          width: vw(810, 250);
          margin-left: vw(810, 50);
        }
        @include mq('sp'){
          width: 165px;
          margin-left: 0;
        }
      }
    }
  }

  //キャストセクション１
  .section:first-of-type{
    position: relative;
    @include mq('sp'){
      margin-top: 30px;
    }
    &::after{
      content: "";
      display: block;
      background-color: $bgc;
      width: 100%;
      height: 670px;
      position: absolute;
      top: 26%;
      left: 0;
      z-index: -10;
      @include mq('tab'){
        height: 700px;
      }
      @include mq('sp'){
        top: 0;
        height: 2240px;
      }
    }
    .section-content{
      @include mq('tab'){
        padding: 15px;
      }
    }
    .section-head{
      padding-bottom: 24px;
    }
    .section-contents{
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 20px;
      @include mq('sp'){
        flex-direction: column;
        align-items: center;
      }
    }
    .cast-item{
      max-width: 250px;
      @include mq('tab'){
        max-width: 220px;
      }
      @include mq('sp'){
      &:not(:last-of-type){
          margin-bottom: 48px;
        }
      }
      &:first-of-type .cast-name{
        margin-bottom: 45px;
        @include mq('sp'){
          margin-bottom: 26px;
        }
      }
      .cast-img{
        margin-bottom: 39px;
        @include mq('sp'){
          margin-bottom: 20px;
        }
        img{
          width: 220px;
          height: 220px;
          border-radius: 50%;
        }
      }
      .cast-role{
        line-height: division(30, 16);
      }
      .cast-name{
        font-weight: $fw-w6;
        line-height: division(30, 18);
      }
      .profession{
        font-size: 12px;
        line-height: division(30, 12);
        padding-bottom: 15px;
      }
      .cast-career{
        text-align: justify;
        font-size: 12px;
        line-height: division(21, 12);
      }
    }
  }

  // キャストセクション２
  .section:nth-of-type(2){
    .section-content{
      padding: 60px 0 26px 0;
    }
    .section-contents{
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(290px, 390px));
      justify-content: center;
      margin-bottom: 30px;
      @include mq('sp'){
        gap: 48px;
      }
    }
    .cast-item{
      display: flex;
      @include mq('sp'){
        flex-wrap: wrap;
        justify-content: center;
      }
      .cast-img{
        margin-right: 11px;
        margin-bottom: 39px;
        @include mq('sp'){
          margin-bottom: 5px;
        }
        img{
          width: 129px;
          height: 129px;
          border-radius: 50%;
        }
      }
      .status{
        max-width: 203.3px;
      }
      .cast-role{
        font-size: 17px;
      }
      .cast-name{
        font-size: 23px;
        font-weight: $fw-w6;
        line-height: division(30, 23);
      }
      .profession{
        font-size: 12px;
        line-height: division(30, 12);
        padding-bottom: 15px;
        @include mq('sp'){
          padding-bottom: 5px;
        }
      }
      .cast-career{
        text-align: justify;
        font-size: 12px;
        line-height: division(21, 12);
      }
    }
  }

  // キャストセクション３
  .section:nth-of-type(3){
    background-color: $bgc;
    .section-content{
      padding: 80px 0 10px 0;
    }
    .section-contents{
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
      justify-content: center;
      margin-bottom: 30px;
      @include mq('sp'){
        gap: 48px;
      }
    }
    .cast-item{
      text-align: center;
      .cast-role{
        font-size: 17px;
      }
      .cast-name{
        font-size: 23px;
        font-weight: $fw-w6;
        line-height: division(30, 23);
      }
      .profession{
        font-size: 12px;
        line-height: division(30, 12);
        padding-bottom: 15px;
        @include mq('sp'){
          padding-bottom: 5px;
        }
      }
    }
  }

}


// --------------------------------
//        お問い合わせページ
// --------------------------------
.inguiry{
  // ファーストビュー
  .fv{
    background-image: url(../images/hero-underlayer.jpg);
    background-size: cover;
    background-position: center center;
    height: 180px;
    position: relative;
    .fv-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      @include mq('tab'){
        width: 80%;
      }
      @include mq('sp'){
        width: 100%;
        padding: 4vw;
        flex-direction: column;
      }
      .site-title{
        width: 460px;
        margin-right: 50px;
        @include mq('tab'){
          width: vw(810, 460);
          margin-right: vw(810, 50);
        }
        @include mq('sp'){
          width: 270px;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .schedule{
        width: 250px;
        margin-left: 50px;
        @include mq('tab'){
          width: vw(810, 250);
          margin-left: vw(810, 50);
        }
        @include mq('sp'){
          width: 165px;
          margin-left: 0;
        }
      }
    }
  }

  // コンタクトフォームセクション
  .section:first-of-type{
    padding-bottom: 0;
    .section-head{
      margin-bottom: 24px;
    }
    .section-content{
      background-color: rgba(255,255,255,.25);
      padding: 30px 30px 35px 30px;
      @include mq('sp'){
        padding-left: 4vw;
        padding-right: 4vw;
      }
    }
    .inguiry-read{
      font-size: 18px;
      font-weight: $fw-w6;
      line-height: division(30, 18);
      margin-bottom: 20px;
      @include mq('sp'){
        br{
          display: none;
        }
      }
    }
    .form-item{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 16px;
      @include mq('sp'){
        flex-direction: column;
        align-items: start;
      }
      &:last-of-type{
        margin-bottom: 30px;
      }
    }
    .form-item-title{
      font-size: 18px;
      font-weight: $fw-w6;
      line-height: division(30, 18);
      margin-right: 16px;
      @include mq('sp'){
        text-align: left;
      }
    }

    // Contact Form 7導入時に.inputと.textarea→.wpcf7-form-controlと.wpcf7-textareaに書き換え
    .wpcf7-form-control,.wpcf7-textarea{
      width: 520px;
      background-color: rgba(255,255,255,.7);
      padding: 5px;
      font-size: 18px;
      @include mq('sp'){
        width: 100%;
      }
    }
    // Contact Form 7導入時に.textarea→.wpcf7-textareaに書き換え
    .wpcf7-textarea{
      height: 165px;
    }
  }
  // Contact Form 7導入時に送信ボタンのbrを消す
  .wpcf7-form > p{
    height: 60px;
    br{
      display: none;
    }
  }

}


// --------------------------------
//          送信完了ページ
// --------------------------------
.confilm{
  // ファーストビュー
  .fv{
    background-image: url(../images/hero-underlayer.jpg);
    background-size: cover;
    background-position: center center;
    height: 180px;
    position: relative;
    .fv-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      @include mq('tab'){
        width: 80%;
      }
      @include mq('sp'){
        width: 100%;
        padding: 4vw;
        flex-direction: column;
      }
      .site-title{
        width: 460px;
        margin-right: 50px;
        @include mq('tab'){
          width: vw(810, 460);
          margin-right: vw(810, 50);
        }
        @include mq('sp'){
          width: 270px;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      .schedule{
        width: 250px;
        margin-left: 50px;
        @include mq('tab'){
          width: vw(810, 250);
          margin-left: vw(810, 50);
        }
        @include mq('sp'){
          width: 165px;
          margin-left: 0;
        }
      }
    }
  }

  // コンタクトフォームセクション
  .section:first-of-type{
    padding-bottom: 0;
    .section-head{
      margin-bottom: 24px;
    }
    .section-content{
      background-color: rgba(255,255,255,.25);
      padding: 30px 30px 22px 30px;
      text-align: center;
      @include mq('sp'){
        padding-left: 4vw;
        padding-right: 4vw;
      }
    }
    .confilm-read{
      font-size: 18px;
      font-weight: $fw-w6;
      line-height: division(30, 18);
      @include mq('sp'){
        br{
          display: none;
        }
        text-align: justify;
      }
    }
  }

  // LATEST NEWSセクション
  .section:nth-of-type(2){
    .section-content{
      position: relative;
    }
    .section-head{
      padding-bottom: 29px;
    }
    .section-contents{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include mq('tab'){
        max-width: 90%;
        margin: 0 auto;
      }
      @include mq('sp'){
        padding: 0 4vw;
        justify-content: center;
      }
    }
    .contents-item{
      display: block;
      background-color: $bgc;
      max-width: 250px;
      height: 260px;
      @include mq('tab'){
        max-width: 200px;
      }
      @include mq('sp'){
        margin-bottom: 5vw;
        height: 240px;
      }
      &:nth-of-type(2){
        @include mq('pc'){
          margin-left: 15px;
          margin-right: 15px;
        }
      }
      &:nth-of-type(4), &:last-of-type{
        display: flex;
        max-width: 390px;
        height: 88px;
        margin-top: 30px;
        @include mq('tab'){
          max-width: 315px;
          margin-top: 20px;
        }
        @include mq('sp'){
          flex-direction: column;
          max-width: 250px;
          height: 240px;
          margin-top: 0;
        }
        .news-img img{
          width: 156px;
          height: 88px;
          @include mq('sp'){
            width: 250px;
            height: 140px;
            object-fit: cover;
          }
        }
      }
      .news-img img{
        width: 250px;
        height: 140px;
        object-fit: cover;
      }
      .news-text{
        margin: 14px;
        line-height: 1;
        font-weight: $fw-w6;
      }
    }
  }

}
