// --------------------------------
//            ボタン共通
// --------------------------------
.btn{
  display: block;
  background-color: $color-baseBtn;
  color: $color-bright;
  font-weight: $fw-w6;
  text-align: center;
}


// --------------------------------
//            もっと見る
// --------------------------------
.more-btn{
  line-height: 36.5px;
  font-size: 1.4rem;
  max-width: 116px;
  height: 36.5px;
  padding: 0 16px;
  margin-left: auto;
  @include mq('sp'){
    margin: auto;
    font-size: 1.3rem;
  }
}


// --------------------------------
//        もっと見る(CAST)
// --------------------------------
.cast-more-btn{
  display: block;
  text-align: center;
  font-size: 1.4rem;
  font-weight: $fw-w6;
  color: $color-baseBtn;
  border: 5px solid $color-baseBtn;
  max-width: 116px;
  height: 45px;
  line-height: 35px;
  margin: 0 auto;
  @include mq('sp'){
    font-size: 1.3rem;
  }
  &:hover{
    background-color: $color-baseBtn;
    color: $color-bright;
  }
}


// --------------------------------
//          ニュース一覧
// --------------------------------
.news-btn{
  line-height: 40px;
  font-size: 1.4rem;
  max-width: 121px;
  height: 40px;
  padding: 0 12px;
  position: absolute;
  top: 24px;
  right: 0;
  @include mq('tab'){
    right: 5vw;
  }
  @include mq('sp'){
    position: static;
    margin: auto;
    font-size: 1.3rem;
  }
}


// --------------------------------
//          お問い合わせ
// --------------------------------
.contact-btn{
  background-color: $color-contactBtn;
  font-size: 1.3rem;
  max-width: 193px;
  height: 60px;
  line-height: 60px;
  padding: 0 31px;
  margin-right: 15px;
  @include mq('sp'){
    margin-right: 0;
    margin-bottom: 4vw;
  }
}


// --------------------------------
//          チケット予約
// --------------------------------
.ticket-btn{
  font-size: 1.3rem;
  max-width: 193px;
  height: 60px;
  line-height: 60px;
  padding: 0 31px;
  margin-left: 15px;
  @include mq('sp'){
    margin-left: 0;
  }
}


// ----------------------------------------------------------------
//        チケット予約（トップページのファーストビュー内）
// ----------------------------------------------------------------
.topPage-ticket-btn{
  line-height: 60px;
  font-size: 1.4rem;
  min-width: 200px;
  height: 60px;
  padding: 0 30px;
  margin-left: auto;
  position: absolute;
  right: 0;
  bottom: -22%;
  @include mq('tab'){
    bottom: -28%;
  }
  @include mq('sp'){
    right: 50%;
    bottom: -70px;
    transform: translateX(50%);
  }
}


// ----------------------------------------------------------------
//                チケット予約（下層ページのトップ）
// ----------------------------------------------------------------
.underlayer-ticket-btn{
  line-height: division(22, 12);
  font-size: 1.2rem;
  max-width: 150px;
  padding: 14px 15px;
  position: absolute;
  bottom: -80px;
  right: 0;
  @include mq('tab'){
    bottom: -90px;
  }
  @include mq('sp'){
    bottom: -50px;
    right: 50%;
    transform: translateX(50%);
  }
}


// --------------------------------
//            送信ボタン
// --------------------------------
.submit-btn{
  max-width: 200px;
  font-size: 1.8rem;
  font-weight: $fw-w6;
  line-height: division(22, 18);
  padding: 21px 82px;
  margin: 0 auto;
  cursor: pointer;
  &:hover{
    transition : .3s;
    opacity: .8;
  }
}

// Contact Form 7導入時に.btnと.submit-btnのスタイルを統合してクラス名→.wpcf7-submitに書き換えて配色に!importantを付け加える
.wpcf7-submit{
  display: block;
  background-color: $color-baseBtn !important;
  color: $color-bright !important;
  font-weight: $fw-w6;
  text-align: center;
  max-width: 200px;
  font-size: 1.8rem;
  font-weight: $fw-w6;
  line-height: division(22, 18);
  padding: 21px 82px;
  margin: 0 auto;
  cursor: pointer;
  &:hover{
    transition : .3s;
    opacity: .8;
  }
}


// --------------------------------
//       ハンバーガーボタン
// --------------------------------
.drawer-btn{
  display: block;
  position: relative;
  transition: all .4s;
  width: 38px;
  height: 24px;
  z-index: 100;
  padding: 0;
  transform: translateY(-8px);
  margin-left: auto;
  @include mq('pc'){
    display: none;
  }
  &:focus{
    outline: none;
  }
  // ハンバーガーボタン下のMenuとCloseのスタイル
  .drawer-text{
    width: 100%;
    position: absolute;
    bottom: -22px;
    left: 0;
    text-align: center;
    font-size: 1.1rem;
  }
  .drawer-close{
    display: none;
  }
  // スクリーンリーダー用テキスト
  .drawer-visuallyHidden{
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}
// ３本線
.bar{
  display: block;
  transition: all .4s;
  width: 100%;
  height: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: currentColor;
  &::before, &::after{
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition: all .4s;
  }
  &::before{
    top: -9px;
  }
  &::after{
    top: 9px;
  }
}


// ----------------------------------------------------------------
//              ハンバーガーボタンjsで変更される箇所
// ----------------------------------------------------------------
.header-nav.is-active{
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s,opacity .3s;
}
.header-musk{
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  background-color:rgba(51,51,51,.85);
  z-index: 20;
}
.drawer-btn.is-active .bar{
  background-color: transparent;
  &::before{
    background-color: $color-bright;
    transform: translateY(9px) rotate(-315deg);
  }
  &::after{
    background-color: $color-bright;
    transform: translateY(-9px) rotate(315deg);
  }
}
.drawer-menuText.is-active{
  display: none;
}
// デフォルトよりネストが浅いのでimportantを付与
.drawer-close.is-active{
  display: block !important;
  color: $color-bright;
}
body.noScroll{
  overflow: hidden;
}


// --------------------------------
//     スクロールトップボタン
// --------------------------------
.scrollTop {
  position: fixed;
  right: 8px;
  bottom: 8px;
  width: 50px;
  height: 50px;
  background-image: url(../images/scroll-top.png);
  border: 2px solid $color-dark;
  display: none;
  &:hover, &:focus {
    transform: translateY(-7px);
    transition: all .8s;
    box-shadow: 0 0 .5rem rgba(255, 255, 255, .5);
  }
  .fa-chevron-up {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $color-dark;
    transform: translate(-50%, -50%);
  }
}

// ----------------------------------------------------------------
//            スクロールトップボタンjsで変更される箇所
// ----------------------------------------------------------------
.scrollTop.is-fadeIn {
  display: block;
  cursor: pointer;
}
