.about-concept-bgimg {
  background-image: url(../../images/texture_00010.png);
  background-size:cover;
  .alternate-layout, .alternate-layout--reverse {
    display: flex;
    position: relative;
  }
  .alternate-layout--reverse {
    justify-content: flex-end;
  }
  .alternate-layout__detail {
    background-color: rgba(255, 255, 255, .8);
    border: 3px solid #F0EBE1;
    padding: 0 25px 30px 25px;
    .alternate-layout__heading {
      font-size: 48px;
    }
    .alternate-layout__subheading {
      font-weight: 400;
      position: relative;
      margin-bottom: 20px;
      /*短い下線*/
      &::before {
        position: absolute;
        content: "";
        top: 92%;
        left: 0;
        bottom: -15px;
        width: 30px;
        height: 2px;
        background-color: #65AADD;
      }
    }
    .alternate-layout__txt {
      span {
        font-weight: bold;
      }
      li {
        line-height: 1.8;
      }
    }
  }
}

@include mq('pc') {
  .about-concept-bgimg {
    padding: 100px 0;
  }
  .about {
    margin-bottom: 100px;
  }
  .alternate-layout__detail {
    position: absolute;
    height: auto;
    .alternate-layout__subheading {
      font-size: 18px;
    }
  }
  .about .alternate-layout__detail {
    top: 97px;
    left: 465px;
  }
  .concept .alternate-layout__detail {
    top: 115px;
    left: 39px;
  }
  .alternate-layout__txt {
    font-size: 16px;
  }
}

@include mq('tab') {
  .about-concept-bgimg {
    padding-top: vw(1200, 100);
    padding-bottom: vw(1200, 100);
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .about {
    margin-bottom: 100px;
  }
  .alternate-layout__img {
    width: vw(1200, 700);
    height: vw(1200, 500);
  }
  .alternate-layout__detail .alternate-layout__subheading {
    font-size: 18px;
  }
  .about .alternate-layout__detail {
    position: absolute;
    top: vw(1200, 50);
    left: vw(1200, 465);
  }
  .concept {
    margin-bottom: 50px;
  }
  .concept .alternate-layout__detail {
    position: absolute;
    width: vw(1200, 900);
    top: vw(1200, 100);
    left: 0;
  }
  .alternate-layout__txt {
    font-size: 16px;
  }
}

@include mq('sp') {
  .fv img {
    height: 80vw;
    object-fit: cover;
  }
  .about-concept-bgimg {
    height: auto;
    padding-top: 80px;
  }
  .alternate-layout {
    display: block;
    height: 500px;
  }
  .alternate-layout--reverse {
    height: 540px;
  }
  .about, .concept {
    margin-bottom: 300px;
    .alternate-layout__img {
      display: none;
    }
    .alternate-layout__detail {
      padding: 0 8px 10px 8px;
    }
    .alternate-layout__subheading {
      font-size: 16px;
    }
    .alternate-layout__txt {
      font-size: 14px;
    }
  }
  .about .alternate-layout__detail {
    height: 350px;
  }
  .concept .alternate-layout__detail {
    height: 380px;
  }
  .about::after, .concept::after {
    display: block;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    height: 357px;
    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about::after {
    background-image: url(../../images/bg_scroll03_sp.jpg);
  }
  .concept::after {
    background-image: url(../../images/bg_scroll01_sp.jpg);
  }
}


.hair-style {
  background-image: url(../../images/p0127.png);
  .inner {
    padding-top: 70px;
    .hair-style__heading {
      text-align: center;
      font-size: 48px;
      padding-bottom: 50px;
    }
    .hair-style__wrapper {
      margin: 0 auto 100px auto;
      height: auto;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@include mq('pc') {
  .hair-style__wrapper {
    max-width: 800px;
  }
  .hair-style__item {
    width: 160px;
  }
}

@include mq('tab') {
  .hair-style__wrapper {
    width: vw(1200, 800);
    .hair-style__item {
      width: vw(1200, 160);
    }
  }
}

@include mq('sp') {
  .hair-style__wrapper {
    width: 270px;
  }
  .hair-style__item {
    width: 135px;
  }
  .hair-style__item:nth-child(7), .hair-style__item:nth-child(8), .hair-style__item:nth-child(9), .hair-style__item:nth-child(10) {
    display: none;
  }
}


.staff {
  background-image: url(../../images/bg_scroll04.jpg);
  .staff-wrapper {
    background-color: rgba(255, 255, 255, .8);
    .staff-heading {
      font-size: 48px;
      text-align: center;
      line-height: 1;
    }
    .staff-txt {
      margin-bottom: 36px;
      letter-spacing: .05em;
    }
    .pr-wrap {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .staff-prTxt {
        letter-spacing: .05em;
        span {
          font-weight: bold;
          margin-right: 5px;
        }
      }
    }
  }
}

@include mq('pc') {
  .staff-wrapper {
    margin: 100px 250px;
    padding: 78px 80px 77px 80px;
    .staff-heading {
      margin-bottom: 50px;
    }
    .staff-prTxt {
      span {
        font-size: 12px;
      }
    }
  }
}

@include mq('tab') {
  .staff-wrapper {
    margin: vw(1200, 100) vw(1200, 250);
    padding: vw(1200, 78) vw(1200, 80) vw(1200, 77) vw(1200, 80);
    .staff-heading {
      margin-bottom: 50px;
    }
    .staff-prTxt {
      span {
        font-size: 12px;
      }
    }
  }
}

@include mq('sp') {
  .staff-wrapper {
    margin: 80px 0;
    padding: 30px 12px;
    .staff-heading {
      margin-bottom: 20px;
    }
    .staff-txt {
      font-size: 14px;
    }
    .pr-wrap {
      flex-direction: column;
      .staff-img {
        padding-bottom: 20px;
      }
      .staff-prTxt {
        font-size: 14px;
        span {
          font-size: 10px;
        }
      }
    }
  }
}


.menu {
  background-image: url(../../images/1608388.jpg);
  .menu-board {
    position: relative;
  }
  .menu-heading {
    line-height: 1;
    font-size: 48px;
  }
  .menu-items {
    .menu-item {
      margin-bottom: 45px;
      .menu-item__heading {
        font-weight: 600;
        line-height: 1;
        &::before {
          display: inline-block;
          content: "";
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: 5px;
          margin-left: 3px;
          vertical-align: middle;
        }
      }
      .heading-cut::before {
        background-image: url(../../images/icon_cut.png);
        width: 19px;
        height: 20px;
      }
      .heading-other::before {
        background-image: url(../../images/icon_other.png);
        width: 23px;
        height: 20px;
      }
      .heading-color::before {
        background-image: url(../../images/icon_color.png);
        width: 10px;
        height: 21px;
      }
      .heading-perm::before {
        background-image: url(../../images/icon_perm.png);
        width: 24px;
        height: 20px;
      }
      .heading-straightning::before {
        background-image: url(../../images/icon_straighting.png);
        width: 19px;
        height: 20px;
      }
    }
  }
  .menu-furuboWrapper {
    .menu-furuboHeading {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      line-height: 1;
      margin-bottom: 20px;
    }
    .menu-furuboTxt {
      padding: 0 10px;
      margin-left: auto;
      margin-right: auto;
    }
    .menuLink-btn {
      margin-bottom: 30px;
    }
    .menu-cardTxt {
      text-align: center;
      line-height: 1;
      margin-bottom: 30px;
    }
  }
}

@include mq('pc') {
  .menu-board {
    height: 641px;
    background-image: url(../../images/480595.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 150px 60px 150px;
    padding: 110px 113px 0 73px;
    .menu-heading {
      margin-bottom: 55px;
    }
    .menu-item__heading {
      font-size: 20px;
      margin-bottom: 12px;
    }
    .menu-item__txt {
      font-size: 16px;
      .menu-sp {
        display: none;
      }
    }
    .perm {
      position: absolute;
      top: 210px;
      left: 448px;
    }
    .straightning {
      position: absolute;
      top: 450px;
      left: 448px;
    }
  }
  .menu-furuboWrapper {
    margin: 0 150px 100px 150px;
    .menu-furuboTxt {
      margin-bottom: 30px;
      width: 808px;
    }
    .menu-cardWrap {
      text-align: center;
      img:last-child {
        display: none;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .menu-board {
    height: vw(1200, 641);
    background-image: url(../../images/480595.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: vw(1200, 100) vw(1200, 150) vw(1200, 60) vw(1200, 150);
    padding: vw(1200, 110) vw(1200, 113) 0 vw(1200, 73);
    .menu-heading {
      margin-bottom: vw(1200, 55);
    }
    .menu-item__heading {
      margin-bottom: 12px;
    }
    .menu-item__txt {
      font-size: 14px;
      .menu-sp {
        display: none;
      }
    }
    .perm {
      position: absolute;
      top: vw(1200, 214);
      left: vw(1200, 448);
    }
    .straightning {
      position: absolute;
      top: vw(1200, 479);
      left: vw(1200, 455);
    }
  }
  .menu-furuboWrapper {
    margin: 0 150px 100px 150px;
  }
  .menu-furuboTxt {
    width: vw(1200, 808);
    margin-bottom: vw(1200, 30);
  }
  .menu-cardWrap {
    text-align: center;
    img:last-child {
      display: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .menu {
    padding-top: 80px;
    .menu-board {
      height: 75vw;
      background-image: url(../../images/480595.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: vw(1200, 60);
      background-position: -20px 0;
      padding: vw(1023, 110) vw(1023, 113) 0 vw(1023, 73);
      .menu-heading {
        margin-bottom: vw(1200, 55);
      }
      .menu-item__heading {
      margin-bottom: 12px;
    }
      .menu-item__txt {
        font-size: 15px;
        .menu-sp {
          display: none;
        }
      }
      .perm {
        position: absolute;
        top: vw(1023, 215);
        left: 50vw;
      }
      .straightning {
        position: absolute;
        top: vw(1023, 520);
        left: 50vw;
      }
    }
    .menu-furuboWrapper {
      margin: 0 vw(1023, 150) vw(1023, 100) vw(1023, 150);
      .menu-furuboTxt {
        margin-bottom: 20px;
      }
    }
    .menu-cardWrap {
      text-align: center;
      img:last-child {
        display: none;
      }
    }
  }
}

@include mq('sp') {
  .menu {
    padding: 80px 0;
    .inner {
      padding: 0;
      .menu-board {
        background-image: url(../../images/menu-bord_sp.jpg);
        background-repeat: no-repeat;
        padding: 40px 0 28px 20px;
        width: 320px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
        .menu-heading {
          margin-bottom: 20px;
          text-align: center;
        }
        .menu-item {
          margin-bottom: 20px;
        }
        .menu-item:nth-child(1), .menu-item:nth-child(2) {
          margin-left: 70px;
        }
        .menu-item__heading {
          font-size: 16px;
          margin-bottom: 5px;
        }
        .menu-item__txt {
          font-size: 13px;
        }
      }
      .menu-furuboWrapper {
        .menu-cardTxt {
          font-size: 14px;
        }
        .menu-furuboTxt {
          margin-bottom: 20px;
          font-size: 14px;
        }
        .menu-cardWrap {
          text-align: center;
          img:first-child {
            display: none;
          }
        }
      }
    }
  }
}


.reserve {
  background-size: cover;
  background-repeat: no-repeat;
  .reserve-wrapper {
    background-color: rgba(255, 255, 255, .8);
    .reserve-heading {
      text-align: center;
      line-height: 1;
      font-size: 48px;
    }
    .reserve-info {
      text-align: center;
    }
    .reserve-tel {
      text-align: center;
    }
    .reserve-txtContent {
      span:first-child, span:nth-last-of-type(1) {
        font-weight: bold;
      }
      /*短い下線*/
      a {
        position: relative;
        display: inline-block;
        font-weight: bold;
        &::before {
          position: absolute;
          content: "";
          top: 90%;
          left: 50%;
          transform:  translateX(-50%);
          bottom: -15px;
          width: 18px;
          height: 2px;
          background-color: #5D310C;
        }
      }
    }
  }
}

@include mq('pc') {
  .reserve {
    background-image: url(../../images/bg_scroll05.jpg);
    .reserve-wrapper {
      padding: 43px 100px 42px 100px;
      margin: 100px 250px;
      .reserve-heading {
        margin-bottom: 25px;
      }
      .reserve-info {
        margin-bottom: 20px;
      }
      .reserve-tel {
        margin-bottom: 20px;
      }
      .reserve-txtContent {
        margin-bottom: 38px;
        span:first-child, span:nth-last-of-type(1) {
          font-size: 18px;
        }
      }
    }
  }
}

@include mq('tab') {
  .reserve {
    background-image: url(../../images/bg_scroll05.jpg);
    .reserve-wrapper {
      padding: vw(1200, 43) vw(1200, 100) vw(1200, 42) vw(1200, 100);
      margin: vw(1200, 100) vw(1200, 250);
      font-size: 14px;
      .reserve-heading {
        margin-bottom: vw(1200, 25);
      }
      .reserve-info {
        margin-bottom: vw(1200, 20);
        text-align: left;
      }
      .reserve-tel {
        margin-bottom: vw(1200, 20);
      }
      .reserve-txtContent {
        margin-bottom: vw(1200, 38);
      }
    }
  }
}

@include mq('sp') {
  .reserve {
    background-image: url(../../images/bg_scroll05_sp.jpg);
    .reserve-wrapper {
      padding: 30px 12px;
      margin: 80px 0;
      font-size: 14px;
      .reserve-heading {
        margin-bottom: 20px;
      }
      .reserve-info {
        margin-bottom: 20px;
        text-align-last: left;
      }
      .reserve-tel {
        margin-bottom: 20px;
      }
      .reserve-txtContent {
        margin-bottom: 30px;
      }
    }
  }
}


.access {
  background-color: #F4ECD9;
  .inner {
    display: flex;
    .access-right {
      .access-heading {
        font-size: 48px;
        line-height: 1;
      }
    }
  }
}

@include mq('pc') {
  .access {
    padding: 100px 45px;
    .inner {
      flex-direction: row-reverse;
      justify-content: space-around;
      .access-heading {
        margin-bottom: 25px;
      }
      .access-address {
        margin-bottom: 52px;
        br:nth-child(3), br:nth-child(4), br:nth-child(5) {
          display: none;
        }
      }
      .access-scissorsimg {
        text-align: right;
      }
      .access-location {
        height: 400px;
      }
    }
  }
}

@include mq('tab') {
  .access {
    padding: vw(1200, 100) vw(1200, 45);
    .inner {
      flex-direction: row-reverse;
      justify-content: space-around;
      font-size: 14px;
      .access-right {
        position: relative;
        .access-heading {
          margin-bottom: vw(1200, 25);
        }
        .access-address {
          margin-bottom: vw(1200, 52);
          br:nth-last-of-type(3), br:nth-last-of-type(4), br:last-child {
            display: none;
          }
        }
        .access-scissorsimg {
          width: vw(1200, 300);
          height: vw(1200, 200);
          margin-left: auto;
        }
      }
      .access-left {
        margin-right: 30px;
        .access-location {
          iframe{
            width: vw(1200, 600);
            height: vw(1200, 400);
          }
        }
      }
    }
  }
}

@include mq('sp') {
  .access {
    padding: 30px 0 60px 0;
    .inner {
      flex-direction: column;
      padding: 0;
      .access-right {
        padding: 0 15px;
        .access-heading {
          text-align: center;
          margin-bottom: 30px;
        }
        .access-right-content {
          display: flex;
          justify-content: space-around;
          .access-address {
            font-size: 14px;
          }
          .access-scissorsimg {
            width: 150px;
            height: 100px;
            margin-top: 80px;
          }
        }
      }
      .access-left {
        margin-top: 25vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        iframe{
          width: 320px;
          height: 200px;
        }
      }
    }
  }
}
